body{
  font-family: 'Montserrat', sans-serif;
  background-image: url("../images/marigold-background.jpg");
  background-repeat: no-repeat;
}

#list-wrapper{
  margin: 5vh 12.5%;
  width: 75%;
  height: 80vh;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  border-radius: 1rem;
  background-color: rgba(173, 216, 230, 0.80);
  box-sizing: border-box;
}

#list{
  margin: 0;
  padding: 0 12.5%;
  list-style-type: none;
  line-height: 1.5;
  text-align: center;
  animation: marquee 30s linear infinite;
}

@-webkit-keyframes marquee {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(-100%);
  }
}
@-o-keyframes marquee {
  from {
    -o-transform: translateY(100%);
  }
  to {
    -o-transform: translateY(-100%);
  }
}
@-moz-keyframes marquee {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
  }
}
@keyframes marquee {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}

#remember{
  margin-bottom: 1rem;
  font-weight: bold;
}

#input-box-wrapper{
  height: 10vh;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#input-box{
  padding: 2%;
  width: 75%;
  height: 1.5rem;
  border-radius: 1rem;
  border: none;
  box-sizing: border-box;
}
